<header>
    <nav>
        <div>
            <img src="../../../assets/images/logo.png" class="logo">
        </div>
        <input type="checkbox" id="check">
        <label for="check" class="bar-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="nav-menu">
            <li><a class="active">Cerrar sesión</a></li>
            <li><a class="active">Sobre CusCo</a></li>
            <li><a class="active">¿Cómo funciona?</a></li>
        </ul>
    </nav>
</header>

<div class="container-pp">
    <div class="container-p">
        <p>Ajustes</p>
    </div>
</div>

<div class="container">
    <div class="container-c">
        <h1>Bienvenidos a la selección de ajustes.</h1>
        <h3>Modificar el límite de personas:</h3>
        <div class="num">
            <div class="cont-a">
                <p>30</p>
            </div>
            <div class="cont-n">
                <input placeholder="      100">
            </div>
        </div>

        <div class="cent">
            <p class="q">ACTUAL</p>
            <p class="w">NUEVO</p>
        </div>

        <div>
            <a href="cambiar_code.html" class="aa">Cambiar el código de acceso</a>
            <a class="ac">Actualizar cambios</a>
        </div>
    </div>
</div>



<footer>
    <div class="footer-container">
        <div class="footer-content-container">
            <div class="img-p">
                <img src="../../../assets/images/telefono.png" class="footer-img">
            </div>

            <span class="menu-title">5512345678</span>
        </div>

        <div class="footer-content-container">
            <div class="img-p">
                <img src="../../../assets/images/facebook.png" class="footer-img">
            </div>

            <span class="menu-title">CusCo_Of</span>
        </div>

        <div class="footer-content-container">
            <div class="img-p">
                <img src="../../../assets/images/email.png" class="footer-img">
            </div>

            <span class="menu-title">cusco@gmail.com</span>
        </div>

    </div>
    <div class="copyright-container">
        <span class="copyright">Copyright 2021, cusco.com. Todos los derechos reservados.</span>
    </div>
</footer>